<link rel="stylesheet" href="/css/dashboard.css">
<div class="row">
    <div class="col s12 m8 l8">
        {{#if notification}}
            <div class="row">
                <div class="col s12 m4 l4">
                    <div class="notification-card">
                        <div class="row">
                            <div class="col s12 m3 l3">
                                <i class="small mdi-social-notifications yellow-text"
                                   style="margin-top: 3px; margin-left: 10px;"></i>
                            </div>
                            <div class="col s12 m9 l9">
                                <h6 class="notify-test">Your complain got a comment <br><a href="{{notification.link}}"
                                                                                           class="nofity-link">view
                                    comment</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        <h1>Welcome</h1>
    </div>
    <div class="col s12 m4 l4 power-cut-table z-depth-3"
         style="border-color:{{#if powercuts}}red{{else}}green{{/if}}; ">
        <table>
            <thead>
            <tr>
                <th data-field="id">Power cut on this week</th>
            </tr>
            </thead>
            <tbody>
            {{#if powercuts}}
                {{#each powercuts}}
                    <tr>
                        <td>{{this.area}} {{this.time}}</td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td>No Power Cuts</td>
                </tr>
            {{/if}}
            </tbody>
        </table>

    </div>

</div>
<div>
    {{#if amount}}
    <p style="margin-top: 20px;">Amount due : {{amount}}</p>
    {{/if}}
</div>