<h2 class="center-align">Break Downs Reported</h2>
<div class="row">
    <h4>Sort Method
        <!--label for="dropButton" class="regular"> </label-->
        <!-- Dropdown Trigger -->
        <a id="dropButton" class='dropdown-button btn' href='#' data-activates='dropdown2'><span style="font-size:20px">Choose<i
                class="material-icons">play_for_work</i></span></a></h4>
    <!-- Dropdown Structure -->
    <ul id='dropdown2' class='dropdown-content'>
        <li class="divider"></li>
        <li><a href="/sortByArea">Sort by Area</a></li>
        <li class="divider"></li>
        <li><a href="/sortByNotFinished">Not Finished</a></li>
        <li class="divider"></li>
        <li><a href="/sortByFinished">Finished</a></li>
    </ul>
</div>

<div class="row">
    {{#each array}}

        <div>
            <div class="col s12 m6">
                {{#if finished}}
                    <div class="card  light-green accent-1">
                        <div class="card-content darken-text">
                            <span class="card-title">{{area}}</span>
                            <p>{{description}}</p>
                        </div>

                        <div class="card-action">
                            <a>{{getDate created_at}}</a>
                            <a>Finished</a>

                        </div>
                    </div>
                {{else}}
                    <div class="card light-blue lighten-4">
                        <div class="card-content blue-text">
                            <span class="card-title">{{area}}</span>
                            <p>{{description}}</p>
                        </div>

                        <div class="card-action">
                            <a>{{getDate created_at}}</a>
                            <a>Not Finished</a>

                        </div>
                    </div>
                {{/if}}

            </div>
        </div>
    {{/each}}
</div>
